.cards
{
    background-color: wheat;
    padding: 3mm;
    display: flex;
}
.cardblock
{
    padding: 3mm;
    border: 1px solid black;
    border-radius: 1px;
    margin: 5px;
}
.title
{
    font-size: 30px;
    border-bottom: 1px solid black;
}